<% include ./partials/header %>

<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>Welcome to The NEWS LINE Dashboard</h1>
                    <p>Pick your favorite News Site and Hit the Scrape Button Above!</p>
                </div>
            </div>
        </div>
    </div>
    
</div>


<% include ./partials/footer %>