<% include ./partials/header %>

<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>Welcome to The NEWS LINE Dashboard</h1>
                    <p>Pick your favorite News Site and Hit the Scrape Button Above!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
       
    </div>
    
</div>
<div class="container-fluid main-window">
    <div class="container">
            <div id="articles-window">

            </div>
    </div>
</div>

<% include ./partials/footer %>