<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">LOGIN</h3>
                </div>
                <div class="panel-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="username">
                                    Username:
                                    
                                </label>
                                <input class="form-control" type-"text" name="username" placeholder="username"></input>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Password:
                                    
                                </label>
                                <input class="form-control" type-"password" name="password" placeholder="password"></input>
                            </div>   
                            
                            <a class="btn btn-lg btn-success" href="/register" >SIGN UP HERE</a>
                            <input class="btn btn-lg btn-primary pull-right" type="submit" value="LOGIN"></input>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
        
        </div>
    </div>
        

    
</div>


<% include ./partials/footer %>