<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>Saved Articles</h1>
                    <p>Why not share your comments on the articles you have read?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-window">
    <div class="container">
            <div id="articles-window">

            </div>
    </div>
</div>


<% include ../partials/footer %>